@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: 'Inter', sans-serif;
  }
}

.glass {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}

.sos-pulse {
  @apply relative;
}

.sos-pulse::before {
  content: "";
  @apply absolute -inset-4 bg-primary/30 rounded-full animate-ping-slow;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary/40 rounded-full hover:bg-primary/60;
}